<body style="overflow: hidden;  background:#fbf5e285;" dir='{{"home.dir" | translate }}' class='{{"home.textalign" | translate }}' id='contact'>
    
    <!------------------------------ start call a doctor -->
    <div class="container" >
        <div class='call_doctor'>
            <div class="row">
                <div class="col-md-12 col-lg">
                    <div class="main_title">
                        <h2> {{"footer.call_doctor.h2"  | translate }}  </h2>
                    </div>
                </div>
                <div class="col-md-12 col-lg">
                    <div class='buttons'>
                        <button class='one main_button'> {{"footer.call_doctor.buttons.book"  | translate }}</button>
                        <button class='two main_button'> {{"footer.call_doctor.buttons.test"  | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------ end call a doctor -->
    
    
    
    <!------------------------------ start footer -------------------------------->
    <footer >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="item one">
                        <h2> <img style="width:45px;height:45px" src="assets/imgs/header/redvir.png" alt='lav img'> {{"footer.items.one.covid"  | translate }}</h2>
                        <p class="lead">{{"footer.items.one.lead"  | translate }}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 d-none d-md-block">
                    <div class="item two">
                        <h4> {{"footer.items.two.h4"  | translate }} </h4>
                        <ul class="list-unstyled" style="padding:0">
                            <li> {{"footer.items.two.ul.two"    | translate }}   </li>
                            <li> {{"footer.items.two.ul.three"  | translate }}  </li>
                            <li> {{"footer.items.two.ul.four"   | translate }}         </li>
                            <li> {{"footer.items.two.ul.five"   | translate }}     </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2  d-none d-md-block" style="padding-left:0; padding-right:0;">
                    <div class="item three ">
                        <h4> {{"footer.items.three.h4"  | translate }} </h4>
                        <ul class="list-unstyled" style="padding:0">
                            <li class="privcy"> <a routerLink='privacy'> {{"footer.items.three.ul.one"   | translate }}    </a>        </li>
                            <li> {{"footer.items.three.ul.two"   | translate }}           </li>
                            <li> {{"footer.items.three.ul.three"   | translate }}        </li>
                            <li> {{"footer.items.three.ul.four"   | translate }}         </li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="item four">
                        <h4> {{"footer.items.four.ul.About"  | translate }} </h4>
                        <p> {{"footer.items.four.ul.OurTeam"   | translate }}  </p>
                        <p> {{"footer.items.four.ul.Prevention.phone"   | translate }}  <a href="#"> {{"footer.items.four.ul.Prevention.num"   | translate }}   </a> </p>
                        <p class='email'> {{"footer.items.four.ul.mail.Email"   | translate }}  <a href="#">  {{"footer.items.four.ul.mail.is"   | translate }} </a> </p>
                        <div class="social">
                            <a href='https://www.facebook.com/profile.php?id=100004699636947'>
                                <span> {{"footer.items.four.social.facebook"   | translate }}  </span>
                                <i class="fa fa-facebook-f"> </i>
                            </a>
                            <a href='https://twitter.com/ahmedmedo271996'>
                                <span> {{"footer.items.four.social.twitter"   | translate }} </span>
                                <i class="fa fa-twitter"> </i>      
                            </a>
                            <a href='#'>
                                <span>  {{"footer.items.four.social.instagram"   | translate }} </span>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay row"><!-------------------------- overlay --> 
            <div class="col"> 
                <div class="item one"> 
                    <img src="assets/imgs/header/lav.png" alt='lav img'>
                </div>
            </div>
            <div class="col"> 
                <div class="item two"> 
                    <img src="assets/imgs/header/greenvir.png" alt='lav img'>
                </div>
            </div>
        </div>
    </footer>
    <!------------------------------ end footer -------------------------------->
    
    <!------------------- start copyright-------------->
    <div class="copy">
        <div class="container">
             <h4 class="text-center"> {{"copy.h4"   | translate }}  <span class='cont_i'> <i class="fa fa-heart"></i>  </span> {{"copy.span"   | translate }} <a href="https://ahmedhossam.netlify.com/" title='go to my site'> {{"copy.a"   | translate }}  </a> &copy; 2020 </h4>
        </div>
    </div>
    <!------------------- end copyright-------------->
    </body>