<section class='main'>
    <div class="container" dir='{{"home.dir" | translate }}' class='{{"home.textalign" | translate }}'>

        <article><!--one-->
            <h1>  {{"privacy.article_one.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_one.p" | translate }}</p>
        </article>
    
        <article><!--two-->
            <h1>  {{"privacy.article_two.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_two.p" | translate }}</p>
        </article>
    
        <article><!--three-->
            <h1>  {{"privacy.article_three.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_three.p" | translate }}</p>
        </article>
    
        <article><!--four-->
            <h1>  {{"privacy.article_four.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_four.p" | translate }}</p>
        </article>
    
        <article><!--five-->
            <h1>  {{"privacy.article_five.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_five.p" | translate }}</p>
            <p class='lead'> {{"privacy.article_five.p2" | translate }}</p>
        </article>
    
        <article><!--six-->
            <h1>  {{"privacy.article_six.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_six.p" | translate }}</p>
        </article>
    
        <article><!--seven-->
            <h1>  {{"privacy.article_seven.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_seven.p" | translate }}</p>
        </article>
    
        <article><!--eight-->
            <h1>  {{"privacy.article_eight.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_eight.p" | translate }}</p>
        </article>
    
        <article><!--nine-->
            <h1>  {{"privacy.article_nine.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_nine.p" | translate }}</p>
        </article>
    
        <article><!--ten-->
            <h1>  {{"privacy.article_ten.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_ten.p" | translate }}</p>
        </article>
    
        <article><!--eleven-->
            <h1>  {{"privacy.article_eleven.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_eleven.p" | translate }}</p>
        </article>

        <article><!--tewelve-->
            <h1>  {{"privacy.article_tewelve.h1" | translate }} </h1>
            <p class='lead'> {{"privacy.article_tewelve.p" | translate }}</p>
        </article>
    </div>
</section>
