<section class='main'>
    <div class="container" dir='{{"home.dir" | translate }}' class='{{"home.textalign" | translate }}'>
        <div class="top_title">
            <h1 class='text-center'> {{"aboutcovid.top_title.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.top_title.p" | translate }} </p>
        </div>
    
        <article><!--one-->
            <h1>  {{"aboutcovid.article_one.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_one.p" | translate }} </p>
        </article>
    
        <article><!--two-->
            <h1> {{"aboutcovid.article_two.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_two.p" | translate }} </p>
        </article>
    
        <article><!--three-->
            <h1> {{"aboutcovid.article_three.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_three.p" | translate }} </p>
        </article>
    
        <article><!--four-->
            <h1> {{"aboutcovid.article_four.h1" | translate }} </h1>
                <ul class='lead'>
                    <li> {{"aboutcovid.article_four.ul.li_one"   | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_two"   | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_three" | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_four"  | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_five"  | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_six"   | translate }}  </li>
                    <li> {{"aboutcovid.article_four.ul.li_seven" | translate }}  </li>
                </ul>
        </article>
    
        <article><!--five-->
            <h1> {{"aboutcovid.article_five.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_five.p" | translate }} </p>
        </article>
    
        <article><!--six-->
            <h1> {{"aboutcovid.article_six.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_six.p" | translate }}  </p>
        </article>
    
        <article><!--seven-->
            <h1> {{"aboutcovid.article_seven.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_seven.p" | translate }} </p>
        </article>
    
        <article><!--eight-->
            <h1> {{"aboutcovid.article_eight.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_eight.p" | translate }} </p>
        </article>
    
        <article><!--nine-->
            <h1> {{"aboutcovid.article_nine.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_nine.p" | translate }} </p>
            <p class='lead'> {{"aboutcovid.article_nine.p2" | translate }} </p>
        </article>
    
        <article><!--ten-->
            <h1> {{"aboutcovid.article_ten.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_ten.p" | translate }} </p>
        </article>
    
        <article><!--eleven-->
            <h1> {{"aboutcovid.article_eleven.h1" | translate }} </h1>
            <p class='lead'> {{"aboutcovid.article_eleven.p" | translate }} </p>
            <ul class='lead'>
                <li> {{"aboutcovid.article_eleven.ul.li_one"   | translate }} </li>
                <li> {{"aboutcovid.article_eleven.ul.li_two"   | translate }} </li>
                <li> {{"aboutcovid.article_eleven.ul.li_three" | translate }} </li>
            </ul>
        </article>
    </div>
</section>
